.notfound{
    width: 30%;
    
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    top:0px;
    position: relative;
    z-index: 1000;
    align-items: center;
    ;
}